margin: 20px 100px;
float: left;
background-color: #ffffff;
width: 85%;

.robot {
  padding:20px;
  float:left;
}
.breadcrumb-container {
  .top-row {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #7f7f7f;
    font-style: italic;
    line-height: 40px;
    margin-top: 20px;
    font-weight: 400;
  }
  .bottom-row {
    font-size: 25px;
    color: #000000;
    display: flex;
    align-items: center;
  }
}
