.ui-Breadcrumbs
  img(class="robot", src="images/robot.png")
  .breadcrumb-container
    .top-row Cardiovascular > Physiology: Cardiovascular Physiology > Electrocardiography
    .bottom-row ECG Basics
