.ui-MainScreen
  .top-container
    input(class="search-input", placeholder="Search for videos, flashcards, and questions")
    div(class="right-side")
      div(class="the-rest")
        span(class="files-badge", data-bind="text: badgeFiles")
        img(src="/images/files.png", class="img_position")
        img(src="/images/stack.png", class="img_position")
      div(class="time")
        span(class="time-badge", data-bind="text: badgeTime")
        img(src="/images/time.png", class="time_img")
      div(class="account-image")
  .ui-Breadcrumbs
  .ui-Videoarea
  .ui-NextVideoarea
