.ui-NextVideoarea
  div(class="up-next")
    div(class="title") Up Next
    div(class="contents")
      img(src="/images/1.jpg", class="up-next-img")
      div(class="video-text")
        div(class="video-title") Blood presure, blood flow and resistance
        div(class="video-from") Osmosis
        div(class="video-time") 9:43
  div(class="memory-anchors")
    div(class="title") Memory Anchors
    .videos
