.ui-PageComponent
  .ui-LeftMenu
  .ui-MainScreen
  div(class="chat-icon-container")
    img(class="chat-icon", src="images/chatIcon2.png")

  //- h1.fwb Append example
  //- .appended-elements
  //- 
  //- h1.fwb Mixlist example
  //- .mix-list.mll
  //- button(href='', data-bind='click: add', style='width: 80px; height: 30px') Add
