.ui-Videoarea
  .video
    iframe(width="100%", height="100%", src="https://www.youtube.com/embed/xIZQRjkwV9Q", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .undervideo-area
    .left-side
      div(class="split-areas fcw") 26 <span>flashcards</span>
      div(class="split-areas fcw") 0 <span>questions</span>
    div(class="right-side fcw") Add to Quiz Queue
